@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{box-sizing: border-box;}
body{
  font-family: 'Quicksand', sans-serif;
}
.dash-height{
  height: 93%;
}
.navbar a.active{
  background-color: #0055FD;
}
.device-box{
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.08)
}
.maph{
  height: 500px;
  overflow-y: scroll;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 1;
  display: block;
  background: url('./assets/image/Vector.png') no-repeat;
  width: 7px;
  height: 7px;
  cursor: pointer;
}
.activity-box{
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.08);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(162, 160, 160); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5c5a5a; 
}
.res-all-box{
  background-color: #fff;
  box-shadow: 0px 1px 0px 0px rgba(4, 55, 64, 0.04);;
}
#loader{
  display: none;
  color: #9f2727;
}
.hh{
  min-width: 100%;
}
.boder{
  border: 2px solid #0055FD;
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .maph{
    height: 400px;
  }
}

@media (max-width: 992px) {
  /* .dash-height{
    height: 90dvh;
  } */
  .maph{
    height: auto;
  }
  .maph-device{
    height: 400px;
    overflow-y: scroll;
  }
}